
/* fonts */
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*header section style*/
.header{
  background-image: url(../Assets/Hero-bg.png);
}
/*nav styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    padding: 50px auto;
}
nav h3 {
  font-size: 34px;
  color: #4E47FF;
}
/* banner style */
.banner{
  text-align: center;
  margin-top: 0px;
  padding-top: 158px;
  padding-bottom: 100px; 
}
.banner h2{
  font-size: 65px;
  font-weight: bold;
  padding: 37px;
}
/*button styles*/
button {
  color: white;
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  border-color: none;
  cursor: pointer;
}
button:hover{
  color: black;
  background-color: rgb(100, 240, 193);
  font-size: 20px;
}

/* main styles */
main{
  max-width: 1140;
  margin: 0 auto;
}
/* action section style */
.Action-Section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 140px; 
  gap: 100px;

}
.action h3{
  font-size: 46px;
  font-weight: bold;
  color: #252432;
}
.action p{
  font-size: 24px;
  font-weight: normal;
  color: #25243250;
}
.action-img{
  border-radius: 48px;
}
/* Productive Users Section */
.Productive-Users-Section{
  background-color: #4E47FF10;
  padding: 50px 80px;
  margin: 120px 140px; 
  border-radius: 24px;
}
.Productive-Users-Section h3{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;

}
.ratings{
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-around;
  
}
.ratings h2{
 
   color: #4E47FF;
   font-size: 80px;
   font-weight: bold;
   gap: 158px;
   margin: 0px;
}
.ratings p{
  color: #25243250;
  font-size: 20px;
  margin: 0px;
}
/* get in touch section style */
.touch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 140px; 
  padding: 80px 0px;
  background-color: white;
  
}
.touch-title{
  font-size: 80px;
  font-weight: bold;
  color: #000000;
}
.touch-form label {
  display: block;


}
form{
 display: flex;
 flex-direction: column;
}
form label{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;

}
form input,
form textarea {
  margin-bottom: 19px;
  padding: 20px 30px;
  font-size: 20px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  
}
