
/* fonts */
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  background: linear-gradient(135deg, #f0f5f9 0%, #e6f0f5 100%);
}
/*header section style*/
.header{
  background-image: url(../Assets/Hero-bg.png);
}
/*nav styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    padding: 50px auto;
}
nav h3 {
  font-size: 34px;
  color: #4E47FF;
}
/* banner style */
.banner{
  text-align: center;
  margin-top: 0px;
  padding-top: 158px;
  padding-bottom: 100px; 
}
.banner h2{
  font-size: 65px;
  font-weight: bold;
  padding: 37px;
}
/*button styles*/
button {
  color: white;
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  border-color: none;
  cursor: pointer;
}
button:hover{
  color: black;
  background-color: rgb(100, 240, 193);
  font-size: 20px;
}

/* main styles */
main{
  max-width: 1140;
  margin: 0 auto;
}
/* action section style */
.Action-Section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 140px; 
  gap: 100px;

}
.action h3{
  font-size: 46px;
  font-weight: bold;
  color: #252432;
}
.action p{
  font-size: 24px;
  font-weight: normal;
  color: #25243250;
}
.action-img{
  border-radius: 48px;
}
/* Productive Users Section */
.Productive-Users-Section{
  background-color: #4E47FF10;
  padding: 50px 80px;
  margin: 120px 140px; 
  border-radius: 24px;
}
.Productive-Users-Section h3{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;

}
.ratings{
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-around;
  
}
.ratings h2{
 
   color: #4E47FF;
   font-size: 80px;
   font-weight: bold;
   gap: 158px;
   margin: 0px;
}
.ratings p{
  color: #25243250;
  font-size: 20px;
  margin: 0px;
}
/* Review section style */
.review {
  padding: 60px 20px;
  margin: 120px 140px;
}

.review h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 50px;
  color: black;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial-box {
  background: white;
  border-radius: 15px;
  padding: 24px;
  width: 367px;
  height: 259px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 }
.testimonial-box h3 {
  font-size: 24px;
  font-style: normal;
  margin: 24px 24px 24px 0px;
  color: black;
  
}

.testimonial-box  {
  
  font-style: normal;
  color: #030101;
  margin-left: 0px;

}
.quote{
  font-size: 16px;
  color: #1E1E1E;
  margin-top: 8px 24px;
}

.testimonial-box .reviewer {
  font-weight: bold;
  color: #2c3e50;
  text-align: right;
}
.last-part {
  margin: 30px auto;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px; 
}
.name{
  margin: 2px;
  color:#1E1E1E,
}
.date{
  margin: 2px;
  color: #B3B3B3;
}
/* get in touch section style */
.touch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 140px; 
  padding: 80px 0px;
  
  
}
.touch-title{
  font-size: 80px;
  font-weight: bold;
  color: #000000;
}
.touch-form label {
  display: block;


}
form{
 display: flex;
 flex-direction: column;
}
form label{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;

}
form input,
form textarea {
  margin-bottom: 19px;
  padding: 20px 30px;
  font-size: 20px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  
}
/* Fotter styles */
.margin{
padding: 30px;
}
.margin h1{
  font-family: "Inter", sans-serif;
  font-size: 100px;
  color: blue;

  margin-bottom: 0px; 
}
.footer-section{
  text-align: center;
  background-color: white;
}
.anchor-tag a{
text-decoration: none;
align-items: center;
color: #8987A1;
margin: 200px 30px;

}
.anchor-tag a:hover{
  background-color: #afc7e0;
}
.text{
  font-size: 16px;
  color: #8987A1;
}

.anchor-tag ul li{
  list-style: none;
  
}
